* {
  margin: 0;
  padding: 0;
}
input {
  all: unset;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;
  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
a {
  text-decoration: none;
  color: #fff;
}

body {
  overflow-x: hidden;

  font-family: "Montserrat", sans-serif;
}
.wrapper {
  margin: 0 405px;
  box-sizing: border-box;
}
.landing {
  background-image: url(../img/bgc.png);
  height: 900px;
  width: 1920px;
}
.adress {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding: 30px 0 20px 0;
  box-sizing: border-box;
}
.adress-content {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #ffffff;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.list-item {
  list-style: none;
  width: 285px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  border-right: 1px solid #ffffff;
}
.list-item:last-child {
  border-right: none;
}
.button-wrapper {
  width: 415px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 583px;
  margin-left: 347px;
}
.landing-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  cursor: pointer;
  width: 203px;
  height: 100%;

  background-color: #99862a;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  text-align: center;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
}
.landing-buttom:hover {
  background-color: #804610;
  color: yellow;
}
.bg-gray {
  background-color: #282828;
  width: 1920px;
  height: 856px;
}
.box-gray-block {
  margin: 0 405px;
  box-sizing: border-box;
  max-width: 1110px;
  padding-top: 100px;
}
.border-box-line {
  border: 3px solid #c4c4c4;
  box-sizing: border-box;
  width: 1110px;
  height: 656px;
  color: #ffffff;
}
.gray-block-h2 {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
  font-family: "Playfair Display", serif;
}

.line-gray {
  border: 1px solid #ffffff;
  width: 160px;
  height: 0px;
  margin-left: 475px;
}

.text-container {
  width: 733px;
  height: 192px;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  text-align: center;
  margin-left: 190px;
  margin-top: 40px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.botton-img {
  background-image: url(../img/image.png);
  width: 160px;
  height: 160px;
  margin-left: 280px;
  margin-bottom: 60px;
  margin-top: 50px;
}
.collection {
  box-sizing: border-box;
  width: 1920px;
  height: 1038px;
  background-color: #e6e3c4;
  padding: 80px 0;
}
.collection-content {
  width: 1100px;
  height: 878px;
  border-top: 1px solid #998431;
  border-bottom: 1px solid #998431;
  box-sizing: border-box;
}
.collection-row-container {
  display: flex;
  width: 100%;
  height: 758px;
  margin: 60px 0;
  justify-content: space-between;
}

.collection-column {
  display: flex;
  flex-direction: column;
  width: 445px;
  justify-content: space-between;
}
.collection-pictures {
  width: 540px;
}
.column-subtitle {
  line-height: 150%;
}
.column-title {
  font-size: 36px;
  line-height: 150%;
  color: #282828;
  text-align: start;
  width: 298px;
  font-family: "Playfair Display", serif;
}
.column-text {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}
.subcolumn {
  display: flex;
  flex-direction: column;
}
.subrow {
  display: flex;
  border-bottom: 1px solid #282828;
}
.subrow:last-child {
  border: none;
}
.first-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 73px;
  border-right: 1px solid #282828;
}
.second-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}
.cell-title {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 150%;
  color: #282828;
  font-weight: 800;
  margin-bottom: 5px;
}
.cell-content {
  font-size: 14px;
  line-height: 150%;
  color: #282828;
}
.medium {
  width: 254px;
  height: 50px;
}
.line-collection {
  width: 160px;
  height: 0px;
  background: #282828;
  border: 1px solid #282828;
}
.black {
  background-color: black;
}
.collection-column,
.collection-pictures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.glava-pictures {
  width: 540px;
  height: 500px;
  background: url(../img/Rectangle\ 11.png);
  margin-bottom: 25px;
}
.botton-pictures-left {
  background-image: url(../img/Rectangle\ 12.png);
  width: 255px;
  height: 228px;
}
.botton-pictures-right {
  background-image: url(../img/Rectangle\ 13.png);
  width: 255px;
  height: 228px;
}
.collection-pictures {
  flex-direction: row;
  margin-left: 115px;
}
.form {
  width: 1920px;
  height: 767px;
  background: #282828;
  padding-top: 129px;
  box-sizing: border-box;
  position: relative;
}
.form-border {
  width: 1110px;
  height: 538px;
  border: 3px solid #c4c4c4;
}
.form-header-text {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 100px;
  left: 710px;
  width: 490px;
  height: 74px;
  background: #282828;
}
.form-pictures-left {
  position: absolute;
  top: 60px;
  left: 375px;
}
.form-pictures-right {
  position: absolute;
  right: 352px;
  top: 64px;
}

.line-form {
  width: 118px;
  height: 0px;
  border: 1px solid #ffffff;
  margin-left: 496px;
  margin-top: 65px;
}
.form-text-container {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding-left: 286px;
  padding-top: 40px;
  font-style: normal;
  font-weight: normal;
  width: 539px;
  height: 72px;
}
.form-name {
  position: absolute;
  width: 254px;
  left: 691px;
  top: 387px;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}

.form-tel {
  position: absolute;
  width: 254px;
  top: 387px;
  right: 690px;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}
.form-adress {
  position: absolute;
  width: 540px;
  top: 457px;
  left: 691px;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}
::placeholder {
  color: #ffffff;
}
.form-buttom {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  left: 689px;
  bottom: 180px;
  color: #ffffff;
  width: 541px;
  height: 50px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
.footer-bg {
  width: 1920px;
  height: 220px;
  background: #998431;
  padding-top: 50px;
}
.nav-footer-list {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  height: 60px;
}
.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butic-list {
  display: flex;
  list-style: none;
}
.butic {
  display: inline;
}
.list-img {
  display: inline;
  list-style: none;
}
.butic-list {
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-around;
  padding-left: 27px;
}
.footer-content {
  height: 60px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-content:last-child {
  border: none;
  width: 230px;
  padding-left: 10px;
}
.footer-content:nth-child(3),
.list-img-content {
  display: flex;
}
.list-img {
  width: 55px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.list-img-link {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.test {
  width: 250px;
  height: 250px;
  background-color: blue;
  position: absolute;
  animation: normal moveLeft 5s ease-in-out infinite;
}
@keyframes moveLeft {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: 100px;
    left: 500px;
  }
}
@media screen  and (min-width:1200px) and (max-width:2000px) {
  
}